
@{
    ViewData["Title"] = "About Us";
}
<h4>@ViewData["Title"]</h4>
<br />

<p></p>
<h5>More about Us</h5>
<p>
    Founded in 2015 we have been providing our valuable information and product information to our customers.
    Everyone, from big business to small enterprise and individuals can benefit from our Store and Price Checkers aiming to find the cheapest items and retailers in your area.
</p>

<h5>Contact Us</h5>

<p>

    If you have any questions concerning our products, feel free to drop us a message via our email address: <a href="mailto: info@homeofficesolutions">
    info@homeofficesolutions.com </a>.
    We are looking forward to hearing from you!

</p>


