@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">

        <h1>Home Office Solutions</h1>

        <img id="HomePageImage" src="https://www.aleaoffice.com/foto/news/5f19998b74dbc202007231607073.jpg" alt="HomePageImage" width="800" height="300"/>

        <p></p>
        <p class="lead">Home Office Solutions</p>
        <p class="lead">Store & Price Checker: Find Products in your Area</p>
    </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2> Stationary Items</h2>
            <p>
                Irelands Stationary Items
            </p>
            <p><a class="btn btn-info" href="@Url.Action("Index", "StationaryItems")">View More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stores</h2>
            <p>View our Participating Stores</p>
            <p><a class="btn btn-info" href="@Url.Action("Index", "Shops")">Participating Stores &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Full Stocklist</h2>
            <p>Best Prices for all your Home Office Needs</p>
            <p><a class="btn btn-info" href="@Url.Action("Index", "Stocks")">StockList &raquo;</a></p>
        </div>
    </div>
