@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@ViewData["Title"]</h4>

<p>We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.</p>

<h6>Information We Collect</h6>
<p>
    As a Visitor, you can browse our Website to find out more about our Website. You are not required to provide us with any personal information as a Visitor.
</p>
